#Node Modules
node_modules/

#Eclipse Junk
.project
.settings

#Mac OS stuff
*.DS_Store

#Ctags
tags

#swp and tmp files
*.*~
*.swp

#build output
*/src/blackberry10/native/arm/*/*.o
*/src/blackberry10/native/arm/*/*.so
*/src/blackberry10/native/arm/*/*.a
*/src/blackberry10/native/arm/*/test
*/src/blackberry10/native/x86/*/*.a
*/src/blackberry10/native/x86/*/*.o
*/src/blackberry10/native/x86/*/*.so
*/src/blackberry10/native/x86/*/test
